<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment telapreta">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="item">
          <%= image_tag("logo.png", :alt => "YoungDev logo", :class => "ui large bordered rounded image", :style=> "width:180px") %>
        </div>
        <div class="right item">
          <a class="active item">Início</a>
          <a class="item">Sobre</a>
          <a class="item">Contato</a>
        </div>
      </div>
    </div>
    

    <div class="ui text container entrada bottomjs">
      <h1 class="ui inverted header">
        Young Developments
      </h1>
      <h2>Aplicações Web personalizadas a você.</h2>
      <div class="ui animated fade huge inverted orange button" tabindex="0">
        <div class="visible content">Solicite seu orçamento</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
    </div>

  </div>
  
        <h2 class="ui horizontal header divider ">
          <p class="colororange">Por que criar um site para seu negócio?</p>
      </h2>
  
  
  <div class="ui segments">
 


    <div class="ui orange inverted segment faixa">
      <div class="ui center aligned three column divided grid">
        <div class="column">
          <div class="ui move reveal">
            <div class="visible content">
              <%= image_tag("muscle.png", :alt => "muscle icon by Freepik", :class => "image centeritem") %>
            </div>
            <div class="hidden content">
              <%= image_tag("employee.png", :alt => "protection icon by Freepik", :class => "image centeritem hiddenitem") %>
            </div>
          </div>
          <h3 class="letrawhite">Fortalecimento da marca</h3>
        </div>
        <div class="column">
          <div class="ui move reveal">
            <div class="visible content">
              <%= image_tag("location.png", :alt => "location icon by Freepik", :class => "image centeritem") %>
            </div>
            <div class="hidden content">
              <%= image_tag("teamwork.png", :alt => "teamwork icon by Freepik", :class => "image centeritem hiddenitem") %>
            </div>
          </div>
          <h3 class="letrawhite">Visibilidade e Posicionamento</h3>
        </div>
        <div class="column">
          <div class="ui move reveal">
            <div class="visible content">
              <%= image_tag("marketing.png", :alt => "marketing icon by Freepik", :class => "image centeritem") %>
            </div>
            <div class="hidden content">
              <%= image_tag("target.png", :alt => "target icon by Freepik", :class => "image centeritem hiddenitem") %>
            </div>
          </div>
          <h3 class="letrawhite">Marketing de Conteúdo</h3>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="center aligned ui three column divided grid">
        <div class="column">
          <p><strong>Um site funcional, otimizado e útil ao usuário,<br> fortalecerá ainda mais a sua marca, pois transmitirá<br><span class="colororange letrah4">ideia de confiabilidade aos clientes</span></strong></p>
        </div>
        <div class="column">
          <p><strong>Criar um site é essencial para que a sua empresa ganhe<br> mais visibilidade na internet e, por consequência,<br><span class="colororange letrah4">atrair um número maior de clientes</span></strong></p>
        </div>
        <div class="column">
          <p><strong>O site da sua empresa envolverá seus potenciais compradores<br> com uma série de temas e informações relevantes para <br><span class="colororange letrah4">ampliar suas oportunidades de negócios</span></strong></p>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="ui vertical stripe segment telapreta2">
    <h4 class="ui horizontal header divider">
      <p class="colororange">Por que nós?</p>
    </h4>
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide hidden column faderight">
          <h3 class="ui dividing header orangeline">O seu negócio em primeiro lugar</h3>
          <p>Nós faremos do seu jeito, mas vamos além disso. 
          Analisaremos as reais necessidades do seu negócio, 
          unindo de forma estratégica o layout dos seus sonhos à funcionalidade que você precisa.</p>
          <h3 class="ui dividing header orangeline">Apoio no presente e no futuro</h3>
          <p>A nossa agência trata os clientes como verdadeiros parceiros de negócio, 
          prestando o suporte necessário durante todo o projeto e também após sua conclusão, com ajustes, manutenções e atualizações.</p>
        </div>
        <div class="eight wide right floated hidden column fadeleft">
          <%= image_tag("presentation.png", :alt => "trabalho computador", :class => "ui large bordered rounded image", :style=> "width:680px") %>
        </div>
      </div>

    </div>
  </div>


  <div class="ui vertical stripe quote black inverted segment testemunhos">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="flyright column">
          <h3>"Trabalho muito bem prestado."</h3>
          <p class="colororange">O que dizem sobre nós</p>
        </div>
        <div class="flyleft column">
            <h3>"Prestaram suporte do início ao fim"</h3>
            <p class="colororange">
              <%= image_tag("img_avatar.png", :alt => "avatar ceo", :class => "ui avatar image") %>
              <b>CEO</b> da empresa X
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="ui inverted orange hidden segment tadahome">
        <h3 class="ui header colororange">Sua empresa precisa de nossos serviços</h3>
        <p class="colorwhite">
          Não vamos falar apenas do nosso trabalho duro e ideias inovadoras.<br>
          Daremos 5 motivos para você construir um site com a nossa empresa:
        </p>
        <h4 class="ui divider"></h4>
        <p class="colorwhite">
          <i class="small orange check icon"></i> Consultoria especializada<br>
          <i class="small orange check icon"></i> Planejamento e conteúdo<br>
          <i class="small orange check icon"></i> Design de qualidade<br>
          <i class="small orange check icon"></i> Ferramentas e estratégias adicionais<br>
          <i class="small orange check icon"></i> Parceiros cuidando da manutenção do site
        </p>
        <a class="ui center inverted orange button">Leia mais</a>
      </div>
      <h4 class="ui horizontal header divider">
        <p class="colororange letramenor">Case Studies</p>
      </h4>
      <div class="ui orange segment tada2home ">
        <h3 class="ui header colororange">Otimize tempo e dinheiro</h3>
        <p class="colorwhite">Utilizamos a linguagem Ruby on Rails para a construção de sites e aplicações Web, o que torna o processo de programação muito mais rápido, sem perda de qualidade ou performance do produto oferecido.</p>
        <a class="ui center inverted orange button">Leia mais</a>
      </div>
    </div>
  </div>
</div>