<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment telapreta">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="item">
          <%= image_tag("logo.png", :alt => "YoungDev logo", :class => "ui large bordered rounded image", :style=> "width:180px") %>
        </div>
        <div class="right item">
          <a class="active item">Início</a>
          <a class="item">Sobre</a>
          <a class="item">Contato</a>
        </div>
      </div>
    </div>
    

    <div class="ui text container entrada bottomjs">
      <h1 class="ui inverted header">
        Young Developments
      </h1>
      <h2>Aplicações Web personalizadas a você.</h2>
      <a class="ui animated fade huge inverted orange button" tabindex="0" href="#pqcriar">
        <div class="visible content">Venha nos conhecer</div>
        <div class="hidden content">
          <i class="down arrow icon"></i>
        </div>
      </a>
    </div>

  </div>
      <h2 id="pqcriar" class="ui horizontal header divider">
        <p class="colororange headers">Por que criar um site para seu negócio?</p>
      </h2>
  <div class="ui segments">
 


    <div class="ui segment faixa">
      <div class="ui center aligned three column divided grid">
        <div class="column bgsalmao2">
              <%= image_tag("homepage.png", :alt => "muscle icon by Freepik", :class => "image centeritem") %>
          <h3 class="letrawhite">Fortalecimento da marca</h3>
        </div>
        <div class="column bgazulbebe2">
              <%= image_tag("search.png", :alt => "location icon by Freepik", :class => "image centeritem") %>
          <h3 class="letrawhite">Visibilidade e Posicionamento</h3>
        </div>
        <div class="column bgsalmao2">
              <%= image_tag("marketing.png", :alt => "marketing icon by Freepik", :class => "image centeritem") %>
          <h3 class="letrawhite">Marketing de Conteúdo</h3>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="center aligned ui three column divided grid">
        <div class="column">
          <p class="letragray"><strong>Um site funcional, otimizado e útil ao usuário,<br> fortalecerá ainda mais a sua marca, pois transmitirá<br><span class="colororange letrah4">ideia de confiabilidade aos clientes</span></strong></p>
        </div>
        <div class="column">
          <p class="letragray"><strong>Criar um site é essencial para que a sua empresa ganhe<br> mais visibilidade na internet e, por consequência,<br><span class="colorazul letrah4">atrair um número maior de clientes</span></strong></p>
        </div>
        <div class="column">
          <p class="letragray"><strong>O site da sua empresa envolverá seus potenciais compradores<br> com uma série de temas e informações relevantes para <br><span class="colororange letrah4">ampliar suas oportunidades de negócios</span></strong></p>
        </div>
      </div>
    </div>
  </div>
  
  
  <h2 class="ui horizontal header divider">
      <p class="colororange headers">Por que nós?</p>
    </h2>
  

  <div class="ui vertical stripe segment telapreta2 paddingtop2 paddingbottom2 bgazulbebe2">
    
    <div class="ui middle aligned stackable two column grid">
      <div class="row">
        <div class="two wide left floated column"></div>
        <div class="six wide left floated hidden column faderight">
          <h3 class="ui dividing header whiteline letrawhite"><strong>Nós faremos do seu jeito, mas vamos além disso.</strong></h3>
          
          <p class="letrawhite">
            Analisaremos as reais necessidades do seu negócio, 
            unindo de forma estratégica o layout dos seus sonhos à <strong class="nunito colororange">funcionalidade que você precisa.</strong>
          </p>
          <h3 class="ui dividing header whiteline letrawhite">A nossa agência trata os clientes como verdadeiros parceiros de negócio,</h3>
          <p class="letrawhite">
            <strong class="nunito colororange">prestando o suporte necessário</strong>
            durante todo o projeto e também após sua conclusão, com ajustes, manutenções e atualizações.
          </p>
        </div>
        <div class="six wide right floated hidden column fadeleft">
          <%= image_tag("frases1.png", :alt => "trabalho computador", :class => "ui image", :style=> "width:500px") %>
        </div>
        <div class="one wide right floated column"></div>
      </div>

    </div>
  </div>
  
  <div class="ui vertical stripe segment telapreta2 paddingtop1 paddingbottom2 bgsalmao2 marginbottom3">
        <div class="ui middle aligned stackable two column grid marginzero">
      <div class="row">
        <div class="one wide left floated column"></div>
        <div class="six wide left floated hidden column fadeleft">
          <%= image_tag("frases2.png", :alt => "trabalho computador", :class => "ui image", :style=> "width:500px") %>
        </div>
        <div class="six wide right floated hidden column faderight">
          <h3 class="ui dividing header whiteline letrawhite">Nós faremos do seu jeito, mas vamos além disso.</h3>
          <p class="letrawhite">
            Analisaremos as reais necessidades do seu negócio, 
            unindo de forma estratégica o layout dos seus sonhos à <strong class="nunito colorazul">funcionalidade que você precisa.</strong>
          </p>
          <h3 class="ui dividing header whiteline letrawhite">A nossa agência trata os clientes como verdadeiros parceiros de negócio,</h3>
          <p class="letrawhite">
            <strong class="nunito colorazul">prestando o suporte necessário</strong>
            durante todo o projeto e também após sua conclusão, com ajustes, manutenções e atualizações.
          </p>
        </div>
        <div class="two wide right floated column"></div>
        
      </div>

    </div>
  </div>


  <div class="ui vertical stripe quote inverted segment testemunhos graybg">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="flyright column">
          <h3>"Trabalho muito bem prestado."</h3>
          <p class="colororange">O que dizem sobre nós</p>
        </div>
        <div class="flyleft column">
            <h3>"Prestaram suporte do início ao fim"</h3>
            <p class="colororange">
              <%= image_tag("img_avatar.png", :alt => "avatar ceo", :class => "ui avatar image") %>
              <b>CEO</b> da empresa X
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="ui inverted orange hidden segment tadahome">
        <h3 class="ui header colororange">Sua empresa precisa de nossos serviços</h3>
        <p class="colorwhite">
          Não vamos falar apenas do nosso trabalho duro e ideias inovadoras.<br>
          Daremos 5 motivos para você construir um site com a nossa empresa:
        </p>
        <h4 class="ui divider"></h4>
        <p class="colorwhite">
          <i class="small orange check icon"></i> Consultoria especializada<br>
          <i class="small orange check icon"></i> Planejamento e conteúdo<br>
          <i class="small orange check icon"></i> Design de qualidade<br>
          <i class="small orange check icon"></i> Ferramentas e estratégias adicionais<br>
          <i class="small orange check icon"></i> Parceiros cuidando da manutenção do site
        </p>
        <a class="ui center inverted orange button">Leia mais</a>
      </div>
      <h4 class="ui horizontal header divider">
        <p class="colororange letramenor">Case Studies</p>
      </h4>
      <div class="ui orange segment tada2home ">
        <h3 class="ui header colororange">Otimize tempo e dinheiro</h3>
        <p class="colorwhite">Utilizamos a linguagem Ruby on Rails para a construção de sites e aplicações Web, o que torna o processo de programação muito mais rápido, sem perda de qualidade ou performance do produto oferecido.</p>
        <a class="ui center inverted orange button">Leia mais</a>
      </div>
    </div>
  </div>
</div>
<a href="https://www.freepik.com/free-photos-vectors/banner">Banner vector created by eightonesix - www.freepik.com</a>