<h1>Solicitação de orçamento Young Developments</h1>

<p>
  <%= @greeting %>,<br>
  Nome:<%= @name %> <br>
  Email:<%= @email %> <br>
  Tel ou Cel:<%= @phone %> <br>
  Serviço:<%= @servico %> <br>
  <%= @body %>
</p>
