<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Solicitação de orçamento Young Developments</h1>
    
    
    <p><%= @greeting %>,</p>
    <p>Nome:<%= @name %></p>
    <p>Email:<%= @email %></p>
    <p>Tel ou Cel:<%= @phone %></p>
    <p>Serviço:<%= @servico %></p>
    <p><%= @body %></p>
    
  </body>
</html>
